.App {
  height: 30rem;
  width: 40rem;
  background-color: #ffffff;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mic_icon {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  color: black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.recorder {
  height: 12rem;
  width: 28rem;
  border-radius: 1rem;
  background-color: #061732;
  display: flex;
  flex-direction: column;
}
.recorder_up {
  flex: 0.5;
  display: flex;
}
.recorder_down {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recorder_duration {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.recorder_duration > div {
  display: flex;
}
.rec_dur2 {
  font-size: small;
  letter-spacing: 1px;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  color: grey;
}
.rec_dur1 {
  font-size: larger;
  transform: scale(1, 1.5);
  font-weight: bold;
  margin: 0;
  padding-left: 0.5rem;
}
.rec_title {
  margin: 0.5rem;
  color: grey;
}
.rec_send {
  flex: 0.5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.stop_btn {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  cursor: pointer;
}
.send_btn {
  background-color: #6f4ad2;
  height: 2rem;
  width: 5rem;
  border-radius: 0.5rem;
  color: white;
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
}
.audio_player {
  width: 100%;
  display: flex;
  align-items: center;
  opacity: 0;
}
.play_btn {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 3px solid #6f4ad2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6f4ad2;
  margin-left: 1rem;
  cursor: pointer;
}
.audio_seek {
  width: 90%;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
input[type="range"] {
  --seek-before-width: 0;
  appearance: none;
  background: rgb(151, 48, 234);
  background: linear-gradient(
    90deg,
    rgba(151, 48, 234, 1) 5%,
    rgba(75, 122, 220, 1) 58%,
    rgba(39, 168, 219, 1) 100%
  );
  border-radius: 10px;
  position: relative;
  width: 99%;
  height: 2px;
  outline: none;
}
input[type="range"]::before {
  content: "";
  height: 2px;
  width: var(--seek-before-width);
  background-color: #6f4ad2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: none;
  background-color: #6f4ad2;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}
input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
}

.sound-wave {
  height: 4rem;
  width: 100%;
}

#triangle-down {
  top: 23rem;
  right: 31rem;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #061732;
}
